.container {
  font-family: "Roboto", sans-serif;

  background-color: antiquewhite;
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.top-logo {
  background-color: aliceblue;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6vh;
}

.program {
  padding: 25px 0px;
  border-bottom: 1px solid rgb(198, 198, 198);
}

.hourImg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.hourImg img {
  border-radius: 5px;
}

.hourImg p {
  font-weight: bold;
  margin-top: 4vh;
}

.text-prog h2 {
  font-size: 20px;
  font-weight: bold;
}

.text-prog p {
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
}

.direct p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.direct {
  display: flex;
  gap: 20px;
}

.red-direct {
  color: red;
}
